{{ $list := index .Site.Data.list.list }}

{{ range $list }}


    <div class="tag-sheet-problem-guide-tags">
        <div class="tag-sheet-problem-guide-tag"> {{ .pattern }} </div>
    </div>

    {{ range .patterns }}

    
    <!-- <div class="problem-guide"> -->
        <div class="sheet-problem-guide-tags">
                <div class="sheet-problem-guide-tag"> {{ .tag }} </div>
        </div>
    <!-- </div> -->

    <div class="problem-guide">
        <div class="qn-problem-guide-tags">

            {{ range .items }}
                <a class="qn-problem-guide-tag" href="{{ .link }}"> {{ .index }} | {{ .problem }} </a>
            {{ end }}
        </div>
    </div>
    {{ end }}    

{{ end }}