<section class="text-center">
    {{ with .Site.Params.social.github }}
    <a href="https://github.com/{{.}}"><i class="fa fa-github social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.linkedin }}
    <a href="https://linkedin.com/in/{{.}}"><i class="fa fa-linkedin social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.udemy }}
    <a href="https://github.com/{{.}}"><i class="fa fa-book social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.youtube }}
    <a href="https://youtube.com/@{{.}}"><i class="fa fa-play social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.leetcode }}
    <a href="https://github.com/{{.}}"><i class="fa fa-code social-icon" aria-hidden="true"></i></a>
    {{ end }}
</section>
